

  @import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;500;600;700&family=Bellefair&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#navHead li {
font-family: 'Barlow Condensed', sans-serif;
text-transform: uppercase;
letter-spacing: 2.7px;
font-size: 16px;
}

#navHead span {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 16px;
  margin-right: .6em;
  }

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("../../public/home/background-home-desktop.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  background-position-y: top;
}

a {
  color: inherit;
  text-decoration: none;
}

#navHead {
  margin: 40px 0 40px 0;
  padding: 0 0 0 40px;
  height: 96px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

#navPanel {
  background-color: rgba(255, 255, 255, .1);
  border-radius: 10px 0 0 10px;
  backdrop-filter: blur(50px);
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 0 0 20px;
  }

#navPanel ul {
}

.line {
  background-color:white;
  height: .5px;
  flex-grow: 10;
  transform: translateX(20px);
  z-index: 12;
}

#navPanel li {
  /* text-decoration: none; */
  list-style-type: none;
  display: inline-block;
  padding: 0 25px 0 25px;
  margin: 0 5px 0 5px;
  height: 100%;
  line-height: 5.8em;
  transition: border 200ms;
}

#navPanel li:hover {
  border-bottom: 2px solid white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
